
.sideMenu{
  width: 296px;
  &-link{
    &:hover{
      background-color: $gray-400;
    }
    &-active{
      color: $success;
      position: relative;
      &::before{
        content:"";
        width: 4px;
        height: 32px;
        background-color: $success;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
}

.main{
  position: absolute;
  top: 0;
  left: 296px;
  right: 0;
  max-width: calc(100% - 296px);
}

