
.arrow_downward{
  font-size: 18px;
}

.view-modal{
  &-img{
  max-width: 141px;
  height: 141px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    }
  }
}

.expand_more{
  display: none;
}
.expand_less{
  display: inline-block;
}

.collapsed{
  .expand_more{
    display: inline-block;
  }
  .expand_less{
    display: none;
  }
}

.verify-button-disabled{
  &:disabled{
    color: $gray-400;
    background-color: #fff;
  }
}

.admin-pagi{
  .page-link{
    &:hover{
      color: $white;
      background-color: $success;
    }
  }
  .active{
    color: $white;
    background-color: $success;
  }
  .arrow{
    color: $success;
    &:hover{
      color: $white;
    }
  }
}
