
.Andy{
  background-image: url(../images/andychen.jpeg);
}

.Emily{
  background-image: url(../images/emilywang.jpeg);
}

.star{
  &:hover{
    color: $success;
  }
  .outline{
    display: inline-block;
  }
  .filled{
    display: none;
  }
  &-active{
    color: $success;
    .outline{
      display: none;
    }
    .filled{
      display: inline-block;
    }
  }
}

.ck{
  .ck-editor__main{
    & > .ck-editor__editable:not(.ck-focused){
      border-left: 0;
      border-right: 0;
      border-bottom: 0;
    }
  }
  .ck-editor__editable[role='textbox']{
      min-height: 175px;
  }
}


.editor-customize{
  border: 1px solid $gray-400;
  bottom: 0;
  right: 0;
  left: 0;
}